.searchBar-container {
    position: relative;
    height: 1.5rem;
    width: 25rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0; // pour supprimer l'espacement entre l'icone de validation et la searchBar-input
  }