.onemoviecontainer {
    position: relative;
    transition: all 0.3s ease;
    &.animate, &:hover {
        .action-buttons {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black background
            padding: 10px 0;
        }
    }
    
    .action-buttons {
        display: none; // Hide buttons by default
        .like-button, .platform-button {
            margin: 0 5px;
            background-color: transparent;
            &:hover {
                background-color: darkgray; // Hover effect
            }
            img {
                transition: transform 0.2s ease;
            }
            &:active {
                img {
                    transform: scale(0.9);
                }
            }
        }
        .liked {
            background-color: green; // Stay green when liked
            &:hover {
                background-color: green; // Override hover effect when liked
            }
        }
    }
}
