.onemoviecontainer {
<<<<<<< HEAD
  position: relative;
  transition: all 0.3s ease;
  &.animate,
  &:hover {
    .action-buttons {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
      padding: 10px 0;
    }
  }

  .action-buttons {
    display: none; // Cache le bouton par défault
    .like-button,
    .platform-button,
    .plus-button {
      margin: 0 5px;
      background-color: transparent;
      &:hover {
        background-color: rgba(169, 169, 169, 0.486); // Effet au survol
      }
      img {
        width: 40%;
        transition: transform 0.9s ease;
      }
      &:active {
        img {
          transform: scale(0.9);
        }
      }
    }

    .liked {
      background-color: green; // Vert si liké
      &:hover {
        background-color: green; // Et override hover après like
      }
    }
    .plus-button.animated {
      animation: flashGreen 0.9s; // Animation pour devenir vert
    }

    @keyframes flashGreen {
      from,
      to {
        background-color: transparent;
      }
      50% {
        background-color: green;
      }
    }
  }
}
=======
    
  position: relative;
  transition: all 0.3s ease;
  &.animate, &:hover {
      .action-buttons {
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
          padding: 10px 0;
      }
  }
  
  .action-buttons {
      display: none; // Cache le bouton par défault
      .like-button, .platform-button {
          margin: 0 5px;
          background-color: transparent;
          &:hover {
              background-color: darkgray; // Hover effect
          }
          img {
              transition: transform 0.2s ease;
          }
          &:active {
              img {
                  transform: scale(0.9);
              }
          }
      }
      .liked {
          background-color: green; // Vert si liké
          &:hover {
              background-color: green; // Et override hover après like 
          }
      }
  }
}
>>>>>>> 77f7231fe8d4f2f498ee556edc240154f02cc0d6
