.black-banner {
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .acces-button {
    margin-left: 0.5vh;
    border-radius: 20%;
  }

  .LogoPandaRoux {
  //size: 20vh;
  position: relative; /* Positionner l'image de façon absolue à l'intérieur de la bannière */
  top: 50%; /* Déplace l'image de la moitié de la hauteur de la bannière */
  transform: translateY(-50%); /* Centre verticalement l'image dans la bannière */
  width: 10%; /* Ajuste la largeur de l'image en fonction de la hauteur de la bannière */
  height: 15vh; /* Définit la hauteur de l'image à 50% de la hauteur de la bannière */
  left: auto; /* Aligne l'image à gauche de la bannière */
  margin: auto;
  }
}






