.acces-buttons-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
 
// .modal {
//   width: auto; /* Définit la largeur de la modal sur auto pour qu'elle s'adapte à la taille du contenu */
//   max-width: 100%; /* Limite la largeur maximale de la modal pour éviter qu'elle ne devienne trop large */
//   height: auto; /* Définit la hauteur de la modal sur auto pour qu'elle s'adapte à la taille du contenu */
//   max-height: 100%; /* Limite la hauteur maximale de la modal pour éviter qu'elle ne devienne trop haute */
// }

// .modal-box {
//   width: 60vh;
//   height: 30vh;
  
// }

//   .acces-button {
//     margin: 0.5vh;
//     border-radius: 20%;
//     height: 5vh;
//     width: auto;
//   }

//   .LogoPandaRoux {
//   position: relative; 
//   top: 50%;
//   width: auto; 
//   height: 15vh; 
//   left: 0; 
//   box-shadow: none;
//   }
// }






