.lds-heart {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 16px; 
    left: 16px; 
    position: absolute;
    width: 16px; 
    height: 16px; 
    background: #fff;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 16px; 
    height: 16px; 
    background: #fff;
}
.lds-heart div:before {
    left: -12px; /* Réduit de -24px à -12px */
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -12px; /* Réduit de -24px à -12px */
    border-radius: 50% 50% 0 0;
}
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
  
  
  .footer-container {
      background-color: #000;
      color: #fff;
      padding: 2rem 0;
    
      .contact-div,
      .commentaire-div,
      .like-div {
        width: 100%;
      }
    
      .contact-div {
        text-align: left;
      }
    
      .commentaire-div {
        text-align: center;
      }
    
      .like-div {
        text-align: right;
      }
    
      .commentaire-div,
  .like-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .commentaire-div button,
  .like-div button {
    margin-left: 1rem;
  }
  
  
      .list-comments {
          margin: 0;
          padding: 0;
          list-style: none;
          max-height: 200px;
          overflow-y: auto;
        }


        
        .comment {
            margin: 0.5rem 0;
          padding: 0.5rem;
          border-radius: 1rem;
          max-width: 100%;
          background-color: #333;
        }
        .comment-list {
            margin-bottom: 2rem;
          }
        .btn-comment {
            margin-right: 20%;
        }
        .like-div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        
        .like-button-container {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
        }
        
        .nbr-likes {
          font-size: 14px;
          color: #fff;
        }
        
    }
  
  

  